.summaryContainer {
  height: 60vh;
  overflow-y: scroll;
  border-radius: 0.75rem;
  padding: 0.75rem;
  scrollbar-width: none;
}

.summaryContainer:hover {
  scrollbar-width: thin;
}

/* Chrome, Safari, Edge */
.summaryContainer::-webkit-scrollbar {
  width: 4px;
  display: none;
}

.summaryContainer:hover::-webkit-scrollbar {
  display: block;
}

.summaryContainer::-webkit-scrollbar-track {
  background: transparent;
}

.summaryContainer::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 2px;
}

.summaryContainer::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
